.todoList-wrapper {
  width: 100%;
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  background-color: #25283c;
  border-radius: .4rem .4rem 0 0;
  box-shadow: 0 .5rem 2rem -1rem rgba(255, 255, 255, 0.1);
}
.items-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 1.9rem 2.4rem 1.85rem 2.4rem;
  border-bottom: 1px solid #373a4e;
  position: relative;
  cursor: pointer;

}
.item{
    color: #fff;
    transition: .3s ease-in-out;
    letter-spacing: 0.02rem;

}
.edit-icon{
   margin-top: 5px;
}
.editing-input{
font-size: 1.7rem;
  color: #CDCFE7;
  width: 100%;
  height: inherit;
  outline: none;
  caret-color: #5c77b4;

}
.delete-item{
    position: absolute;
    right: 2.4rem;
    opacity: 0;
}
.complete{
    text-decoration: line-through;
    transition: .3s ease-in-out;
    color: #6C6E86;

}
.circle.complete{
    background: linear-gradient(#76B4F9,#A479F5);
    border: none;
    transition: .3s ease-in-out;
}


.items-container:hover .delete-item {
    opacity: 1;
}
.item:hover{
    color: var(--Light-Grayish-Blue-hover);
}
.editing:hover{
    caret-color: #A479F5;
}

